



/* HEADER */

ul.header {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li.header {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}














/* footer */


  footer {
    margin-top: 20px;
    padding-top: 40px; 
    padding-bottom: 30px;
    color: red;
    background-color: blue;
  }
  
  h3.footer {
    text-align: center;
  
  }







/* main */

body {
  background-color: wheat;
  margin-left: 200px;
  margin-right: 200px;
}




h1.h1_title {
  color: green;
  text-decoration: underline;
}



p.boldtext {
  font-weight: bold;
}



ul.ul1 {
  color: limegreen;
  font-weight: bold;
}




li.li2 {
  font-weight: bold;
}

li.li3 {
  font-weight: normal;
  font-style: italic;
}