p.p0 {
    color: red;
}

p.p1, p.p2 {
    color: green;
}


p.p3 {
    color: blue;
}


p.p4 {
    color: brown;
}

p.p5 {
    color: aqua;
}

p.p6 {
    color: yellowgreen;
}

p.p7 {
    color: orange;
}