/* HEADER */

ul.navul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li.navli {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }








  /* footer */


footer {
  margin-top: 20px;
  padding-top: 40px; 
  padding-bottom: 30px;
  color: red;
  background-color: blue;
}

h3.footer {
  text-align: center;

}






/* main */

body {
  background-color: #000000;
  color: #ffffff;
}

h3 {
  color: yellow;
}


h1.redbg {
  margin-bottom: 0;
}

p.redbg {
  margin-top: 0;
  padding-top: 40px;
}


h1.redbg, p.redbg {
  background-color: red;
} 



ul.greenul {
  color: greenyellow;
}